* {
    margin: 0;
    padding: 0;
}
body {
    font-family: monospacegt;
}
#container {
    border: 1px solid #333;
    padding: 1em;
    margin: 0 auto;
    width: 70%;
}
#post {
    color: #333;
    text-align: center;
}

header {
    background-color: rgb(197, 74, 95);
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2em;
    box-shadow: 0 0 15px #d4d4d4;
    margin-bottom: 1em;
}
header span {
    margin-left: 2em;
}